$dialog-transition-time: .5s !default;
$dialog-zindex: 10000 !default;

$dialog-backdrop-background: rgba(0,0,0,.85) !default;
$dialog-backdrop-transition: all $dialog-transition-time ease 0s;

$dialog-background: #FFF !default;
$dialog-border-radius: .5rem;
$dialog-max-width: 70rem !default;
$dialog-min-width: 10rem !default;
$dialog-width: 100% !default;
$dialog-left: auto !default;
$dialog-top: 0 !default;
$dialog-right: 50% !default;
$dialog-bottom: auto !default;
$dialog-transform-in: translate(50%,0);
$dialog-transform-out: translate(50%,-100%);
$dialog-transition: all $dialog-transition-time ease 0s;
$dialog-margin: 2rem !default;
$dialog-padding: 2rem !default;

$dialog-close-left: auto !default;
$dialog-close-top: 1rem !default;
$dialog-close-right: 1rem !default;
$dialog-close-bottom: auto !default;
$dialog-close-width: 2rem;
$dialog-close-height: 2rem;
$dialog-close-padding: .3rem;
$dialog-close-border-radius: 50%;
$dialog-close-background: #FFF !default;
$dialog-close-background-hover: #000 !default;
$dialog-close-color: #555 !default;
$dialog-close-color-hover: #FFF !default;
$dialog-close-border: 0 !default;
$dialog-close-border-hover: 0 !default;


.me-dialog-container {
  display: none;
}

.me-backdrop {
  background: $dialog-backdrop-background;

  position: fixed;
  left: 0;
  top: 0;
  z-index: ($dialog-zindex - 1);

  width: 100%;
  height: 100%;

  display: none;
  .me-dialog-container & {
    display: block;
  }

  transition: $dialog-backdrop-transition;
  .me-shown &,
  &.me-shown {
    opacity: 1;
  }
  &,
  .me-hide &,
  &.me-hide {
    opacity: 0;
  }
}
.me-dialog-window {
  position: absolute;

  left: $dialog-left;
  top: $dialog-top;
  right: $dialog-right;
  bottom: $dialog-bottom;
  z-index: $dialog-zindex;

  box-sizing: border-box;
  max-width: $dialog-max-width;
  min-width: $dialog-min-width;
  width: $dialog-width;
  padding: $dialog-margin;

  transition: $dialog-transition;
  .me-shown &,
  &.me-shown {
    transform: $dialog-transform-in;
  }
  &,
  .me-hide &,
  &.me-hide {
    transform: $dialog-transform-out;
  }
}
.me-dialog {
  background: $dialog-background;
  padding: $dialog-padding;
  border-radius: $dialog-border-radius;
}

.me-main-close {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  left: $dialog-close-left;
  top: $dialog-close-top;
  right: $dialog-close-right;
  bottom: $dialog-close-bottom;
  width: $dialog-close-width;
  height: $dialog-close-height;
  padding: $dialog-close-padding;
  border-radius: $dialog-close-border-radius;
  border: $dialog-close-border;
  color: $dialog-close-color;
  background: $dialog-close-background;

  &:hover,
  &:focus {
    border: $dialog-close-border-hover;
    color: $dialog-close-color-hover;
    background: $dialog-close-background-hover;
    cursor: pointer;
  }
}